@model Nov4thYr_Project.Models.Event1

@{
    ViewBag.Title = "Availability Calendar";
}



<h2>Doctors Availability Page</h2>
<p>Welcome to the doctors page</p>


@*<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/daypilot-all.min.js")" type="text/javascript"></script>

@Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
{
    BackendUrl = Url.Content("~/Home/Backend"),
    ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
    EventMoveHandling = DayPilot.Web.Mvc.Events.Calendar.EventMoveHandlingType.CallBack,
    EventResizeHandling = DayPilot.Web.Mvc.Events.Calendar.EventResizeHandlingType.CallBack,
    TimeRangeSelectedHandling = DayPilot.Web.Mvc.Events.Calendar.TimeRangeSelectedHandlingType.JavaScript,
    TimeRangeSelectedJavaScript = "dpc.timeRangeSelectedCallBack(start, end, null, { name: prompt('Doctors Name:', 'Dr John') });"
})

