@{
    ViewBag.Title = "Home Page";
}

<style>
    table {
        border-spacing: 5px;
    }

    th, td {
        padding: 15px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 7px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button3 {
        width: 100%;
    }
</style>
<p> </p>
<table style="width:100%">
    <tr>
        <th>Appointment:</th>
        <td><a href="https://4thyearproject.azurewebsites.net/appointment/appointmentform" class="button button3">Book An Appointment</a></td>
    </tr>

    <tr>
        <th rowspan="2">Doctors:</th>
        <td><a href="https://4thyearproject.azurewebsites.net/doctors/doctorsappointments" class="button button3">Doctors Appointments</a></td>
    </tr>

    <tr>
        <td><a href="https://4thyearproject.azurewebsites.net/doctors/index" class="button button3">Select Availability Times</a></td>
    </tr>

    <tr>
        <th>Patients:</th>
        <td><a href="https://4thyearproject.azurewebsites.net/patients/index" class="button button3">List of Appointments</a></td>
    </tr>

    <tr>
        <th rowspan="2">Admin Panel:</th>
        <td><a href="https://4thyearproject.azurewebsites.net/Roles/ManageUserRoles" class="button button3">Manage User RolesTEST</a></td>
    </tr>
    <tr>
        <td><a href="https://4thyearproject.azurewebsites.net/cruduser/userlist" class="button button3">Users List</a></td>
    </tr>

</table>