@model Nov4thYr_Project.Models.ApplicationUser
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <p>UserName:@Html.EditorFor(model => model.UserName)</p>
    <p>Role:@Html.EditorFor(model => model.Roles)</p>
    <input type="submit" value="Edit" />
}