@model Nov4thYr_Project.Models.ApplicationUser
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <p>UserName:@Html.DisplayFor(model => model.UserName)</p>
    <p>Role:@Html.DisplayFor(model => model.Roles)</p>
    <p>Are you sure to delete it?</p>
    <input type="submit" value="Delete" />
}